body {
	text-align: center;
	
}

#home {
	font-family: helvetica;
	font-size: 70px;
	font-weight: bold;
	background-image: url("resources/images/the-flatiron-building.jpg");

}

h2 {
	font-family: helvetica;
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-family: helvetica;
	font-size: 23px
	font-weight: bold;
}

p {
	font-family: helvetica;
	font-size: 14px;
}

a {
	color: white;
}

.head {
	background-image: url("resources/images/the-flatiron-building.jpg");
	color: black;
}

.footer {
	text-align: left;
	background-color: dimgray;
	color: white;
}

.new {
	font-family: helvetica;
	font-size: 23px
	font-weight: bold;
}